# train flags

PROTO_DIR = proto
SNAPSHOT_DIR = .
# SNAPSHOT_DIR = snapshots
ROM_DIR = roms

train_solver := solver.prototxt
test_solver := test_solver.prototxt
test_snapshot := _iter_20000.solverstate
rom := space_invaders.bin

# specify other flags than those covered above, if any
train_flags :=
test_flags :=

# libraries

CAFFE_ROOT := /home/wyl8899/projects/caffe

BLAS_INCLUDE := /home/wyl8899/lib/atlas/include
BLAS_LIB := /home/wyl8899/lib/atlas/lib

ALE_ROOT := /home/wyl8899/projects/ale

SDL_INCLUDE := /usr/include/SDL
